$trans-time: 1s
$trans-mode: ease-in-out
    
body
    margin: 0
    display: flex
    place-items: center
    min-width: 300px
    min-height: 100vh
    
.main
    display: block
    margin: auto auto
    width: 350px
    height: 140px
    border-radius: 75px
    border: solid grey 5px
    background-color: DodgerBlue
    transition: background-color $trans-time $trans-mode
    
    &.is-dark
        background-color: MidnightBlue


.switch
    margin: 10px
    width: 120px
    height: 120px
    border-radius: 60px

    background-color: gold
    transition: margin-left $trans-time $trans-mode,  background-color $trans-time $trans-mode

    &.is-dark
        margin-left: 220px
        background-color: silver
